@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');

html,
body {
  font-size: 16px;
  font-weight: 400;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont sans-serif;
}

.popup {
  width: 400px;
  padding: 1px 10px;
  overflow-wrap: break-word;
}

/* div */
.popup .bookmark-list,
.recent-list {
  margin: 1rem 0;
  padding: 0 0.5rem;
}

/* div title */
.popup .bookmark-list .title,
.recent-list .title {
  font-weight: bold;
  font-size: 1.25rem;
}

/* div ul */
.popup .bookmark-list ul,
.recent-list ul {
  list-style: none;
  padding: 0;
}

/* div ul li */
.popup .bookmark-list ul li,
.recent-list ul li {
  display: block;
  margin: 0.3rem 0;
}

/* div ul li a */
.popup .bookmark-list ul li a,
.recent-list ul li a {
  color: inherit;
  text-decoration: none;
}

/* div ul li a */
.popup .bookmark-list ul li a:hover,
.recent-list ul li a:hover {
  text-decoration: underline;
}

/* div ul li a */
.popup .bookmark-list ul li a:visited,
.recent-list ul li a:visited {
  color: inherit;
}

.list-item .job {
  color: #0f52ba;
  font-weight: bold;
}

.list-item span:not(:last-child)::after {
  content: '|';
  display: inline-block;
  margin: 0 2.5px;
}
