.extend-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 38px;
  z-index: 100;
  display: none;
  left: 1px;
}

.extend-container[data-active='true'] {
  display: block;
}

.extend-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  list-style: none;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.extend-container ul.recent-ul li,
.extend-container ul.bookmark-ul li {
  flex: 0 0 30%;
  text-align: left;
  font-size: 14px;
  margin: 0.5rem 5px;
}

.extend-container ul.bookmark-ul li {
  flex: 0 0 50%;
}

.extend-container ul li span.name {
  padding: 0 0.5rem;
  font-weight: bold;
}

.extend-container ul li span.icon {
  float: right;
}

.extend-container ul.bookmark-ul li span.icon {
  float: none;
  transform: translateY(50%);
}

.extend-container .tab-container {
  display: flex;
  background: white;
  border: 1px solid #eee;
}

.extend-container .tab-container .tab-item {
  flex: 0 0 50%;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
}

.extend-container .tab-container .tab-item.deactive {
  background: #ccc;
  color: rgba(0, 0, 0, 0.65);
}
