.df-bookmark-container {
  position: fixed;
  right: 20px;
  bottom: 25px;
}

.df-bookmark-container .df-bookmark-button {
  border-radius: 9999px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 25px;
  cursor: pointer;
}

.df-bookmark-container .df-bookmark-button:focus {
  outline: none;
}
